@model List<ResultDiscountDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İndirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İndirim Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							İndirim ile ilgili işlemleri aşağıdan yapabilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ürün</th>
									<th scope="col">İndirim Oranı</th>
									<th scope="col">Durum</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.DiscountID</td>
										<td>@item.DiscountTitle</td>
										<td>@item.DiscountAmount</td>
										<td><a href="/Discount/DiscountDelete/@item.DiscountID" class="btn btn-outline-warning">Durum</a></td>
										<td><a href="/Discount/DiscountDelete/@item.DiscountID" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/Discount/DiscountUpdate/@item.DiscountID" class="btn btn-outline-primary">Güncelle</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Discount/DiscountCreate/" class="btn btn-success">Yeni İndirim Girişi</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


